[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jaehoonoh
[access "refs/for/refs/*"]
	read = group user/jaehoonoh
	push = group user/jaehoonoh
	label-Code-Review = -2..+2 group user/jaehoonoh
	label-Verified = -1..+1 group user/jaehoonoh
	rebase = group user/jaehoonoh
	removeReviewer = group user/jaehoonoh
	submit = group user/jaehoonoh
[access "refs/heads/*"]
	read = group user/jaehoonoh
	create = group user/jaehoonoh
	push = +force group user/jaehoonoh
	pushMerge = group user/jaehoonoh
[access "refs/tags/*"]
	push = group user/jaehoonoh
	push = +force group user/jaehoonoh
